<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="musicRootDir" value="c:\Music" />
		<add key="spotifyToken" value="--token--" />
		<add key="azureEnabled" value="false" />
		<add key="azurePrivateEndpoint" value="--endpoint--" />
		<add key="azurePrivateKey" value="--key--" />
	</appSettings>
</configuration>